# Get Data Multi Database

1. Get Data:

  * Sepal Length : PostgreSQL Local
  * Sepal Width : Elepant SQL
  * Petal Length : MySQL Local
  * Petal Width + Class : SQL Serve
2. Create Pipelines

## Persiapan Environment

In [ ]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\win8.1\anaconda3\lib\site-packages (4.0.32)

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\win8.1\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\win8.1\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [ ]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\win8.1\anaconda3\lib\site-packages (2.9.5)

In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\win8.1\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\win8.1\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [ ]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector
import numpy as np
import os
import urllib.parse as up

## PostgreSQL Local

In [ ]:
conn = psycopg2.connect(database="prosain201", user="postgres", password="rifa", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("SELECT sepallength FROM iris")
sl = cur.fetchall()
sl = pd.DataFrame(sl,columns=['Sepal Length'])
sl.head()

  Sepal Length
0          5.1
1          4.9
2          4.7
3          4.6
4            5

## Cloud PostgreSQL - Elephant SQL

In [ ]:
db = psycopg2.connect(
    database="jtwdgyxx",
    user="jtwdgyxx",
    password="pQlZsZDybRQtrq25jTwRfo4yIVlBoTB7",
    host="isilo.db.elephantsql.com",
    port="5432"
)
query = "SELECT sepalwidth FROM iris"
sw = pd.read_sql(query, db)
sw

   sepalwidth
0         3.5
1           3
2         3.2
3         3.1
4         3.6
..        ...
95          3
96        2.9
97        2.9
98        2.5
99        2.8

[100 rows x 1 columns]

## MySQL Local

In [ ]:
conn = mysql.connector.connect(host="localhost", user="root", password="", database="prosain201")
cur = conn.cursor()
cur.execute("SELECT petallength FROM iris")
pl = cur.fetchall()
pl = pd.DataFrame(pl,columns=['Petal Length '])
pl.head()

  Petal Length
0           1.4
1           1.4
2           1.3
3           1.5
4           1.4

## SQL Server

In [ ]:
cnxn_str = ("DRIVER={SQL Server};"
            "Server=localhost\SQLEXPRESS;"
            "Database=prosain201;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)
cursor = cnxn.cursor()

query = "SELECT petalwidth, class FROM [prosain201].[dbo].[iris]"
pwcls = pd.read_sql(query, cnxn)
pwcls.head()

C:\Users\Win8.1\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  petalwidth        class
0        0.2  Iris-setosa
1        0.2  Iris-setosa
2        0.2  Iris-setosa
3        0.2  Iris-setosa
4        0.2  Iris-setosa

## Join semua database

In [ ]:
df = pd.concat([sl, sw, pl, pwcls], axis=1)

In [ ]:
df.head()

  Sepal Length sepalwidth Petal Length  petalwidth        class
0          5.1        3.5           1.4        0.2  Iris-setosa
1          4.9          3           1.4        0.2  Iris-setosa
2          4.7        3.2           1.3        0.2  Iris-setosa
3          4.6        3.1           1.5        0.2  Iris-setosa
4            5        3.6           1.4        0.2  Iris-setosa

In [ ]:
df

    Sepal Length sepalwidth Petal Length  petalwidth           class
0            5.1        3.5           1.4        0.2     Iris-setosa
1            4.9          3           1.4        0.2     Iris-setosa
2            4.7        3.2           1.3        0.2     Iris-setosa
3            4.6        3.1           1.5        0.2     Iris-setosa
4              5        3.6           1.4        0.2     Iris-setosa
..           ...        ...           ...        ...             ...
145          6.7        NaN           5.2        2.3  Iris-virginica
146          6.3        NaN             5        1.9  Iris-virginica
147          6.5        NaN           5.2          2  Iris-virginica
148          6.2        NaN           5.4        2.3  Iris-virginica
149          5.9        NaN           5.1        1.8  Iris-virginica

[150 rows x 5 columns]